@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,:root{
  height: 100%;
}
main{
  
  min-height: 100vh; background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  
}
.backGrad{
  background: rgb(0, 0, 0);

background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E1C26", endColorstr="#2A454B", GradientType=1 );
}
.animText {
  
  background: linear-gradient(to right, #30CFD0 0%,#d7ff71 50%, #ff0505 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
.titleForList {
 
  /* background: linear-gradient(to right, #2144f3,
  #ff6b08, #cf23cf, #eedd44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  animation: gradTextAnim 30s infinite;
}
@keyframes gradTextAnim {
  0%{
    background: linear-gradient(to right, #2144f3,
    #ff6b08, #cf23cf, #eedd44);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  50%{
    background: linear-gradient(to right, #c1f004,
    #ff08c9, #00e1f6, #4444ee);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  100%{
    background: linear-gradient(to right, #04ff43,
    #bbff00, #7b00f6, #ee4496);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}



@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.s2 {
  min-width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
}

.s2::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #18181b;
  transition: 0.5s;
  transform-origin: center;
}

.s2::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #18181b;
  transition: 0.5s;
}

.s2:hover::before, .s2:hover::after {
  transform: scale(0)
}

.s2:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}
.s1,.s1::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}

.s1::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'DrinkDes';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.s1:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

.s1:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

.s1:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

.s3 {
  padding: 0.5em 2em 0.5em 2.5em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 15px;
  color: #fff6fb;
  letter-spacing: 0.3em;
  text-shadow: -2px 2px 5px #FD3084;
  background-color: transparent;
  border: 2px solid #FEB1DE;
  box-shadow: 0 0 0px 1px #1479EA,
    0 0 10px 2px #1479EA,
    inset 0 0 0px 1px #1479EA,
    inset 0 0 10px 2px #1479EA;
  transition: 100ms;
}

.s3:hover {
  box-shadow: 0 0 0px 1px #1479EA,
    0 0 10px 2px #1479EA,
    inset 0 0 0px 1px #1479EA,
    inset 0 0 30px 2px #1479EA;
  text-shadow: 0 0 10px #1479EA;
  transform: translateY(-5px);
}

.s3:active {
  box-shadow: 0 0 0px 1px #F11271,
    0 0 25px 2px #FD3084,
    inset 0 0 0px 1px #F11271,
    inset 0 0 30px 2px #FD3084;
  transform: translateY(1px);
}
.s4 {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.s4:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.s4:active {
  color: #000
}

.s4:active:after {
  background: transparent;
}

.s4:hover:before {
  opacity: 1;
}

.s4:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
.s5 {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  max-width: 300px;
 }
 
 .s5::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 .s5:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 .s5:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }

.cardList {

  width: 440px;
  height: 400px;
align-items: center;  
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
 
}

.titleList {
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 1.2px;
  color: white;
}

.DescriptionList {
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
}

.tempList {
  font-size: 1.8em;
  color: white;
}

.AvailmaxContainerList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HistoryDes{
  width:100%;
}
.AvailList,.maxList {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 20px;
  gap: 4px;
}

.maxList {
  align-items: flex-start;
  border-left: 2px solid white;
}

.maxHeadingList,.AvailHeadingList {
  font-size: 0.7em;
  font-weight: 600;
  color: white;
}

.maxTemList,.AvailTemList {
  font-size: 0.6em;
  font-weight: 500;
  color: rgb(197, 197, 197);
}

.cardContainerList::before {
  width: 200px;
  height: 100px;
  content: "";
  position: absolute;
  background-color: rgb(37, 204, 182);
  z-index: -1;
  border-radius: 50%;
  left: 60px;
  top: 50px;
  transition: all 1s;
}

.cardContainerList:hover::before {
  transform: translate(-10px ,60px);
  background-color: rgb(255, 165, 47);
  width: 100px;
}

.dbsf {
  min-width: 250px;
  max-width: 360px;
  max-height: 400px;
  border-radius: 20px;
  background: #0f0f0f;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #0f0f10;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .dbsf.efubjmt {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .dbsf-cvuumf {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #00ffd0;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .ufyu-cpez {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .ufyu-ujumf {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .dbsf:hover {
  border-color: #f86c00;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .dbsf:hover .dbsf-cvuumf {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
 